<ul class="my-bid-list">
    <li *ngFor="let bid of myBids" class="bid-list-item">
        <div *ngIf="authUser" wmAnimate="fadeInRight" speed="normal">
            <app-nested-accordion
                *ngIf="authUser"
                [bid]="bid"
                [user]="authUser"
                (refreshCallback)="accordionCallback()"
                (accordionBaseCallback)="accordionBaseCallback()"
                [isThemeDark]="isThemeDark"
                [cssFilter]="cssFilter"
            >
            </app-nested-accordion>
        </div>
    </li>
</ul>