<div id="toolbar-container" [ngStyle]="{ 'background-color' : (isThemeDark ? 
'var(--app-bar-color)' : 'var(--primary-color)')}">
    <div style="float: left; width: 50%;">
        <div id="dice-icon"
          [ngClass]="{'is-dark' :isThemeDark}"
          [ngStyle]="{'filter': isThemeDark ? cssFilterDark : 'brightness(300%)'}"
        >
        </div>
    </div>
    <div id="toolbar-btns">
        <div class="toolbar-icon" id="notif-bell">
          <mat-icon
          id="notif-bell-mat-icon"
          [ngClass]="{'hide-bell-badge': !notificationList || !notificationList.length}"
          [ngStyle]="{'filter': notificationList && notificationList.length? 'brightness(1)':'brightness(0.5)',
        'opacity': notificationList && notificationList.length?'1' : '0.5'}"
          tabindex="1" [matBadge]="notificationUnreadCount" matBadgeColor="accent" 
          (click)="openNotificationMenu()" >notifications</mat-icon>
        </div>
        <div class="toolbar-icon" 
        >
            <mat-icon id="profile-dropdown-icon" tabindex="1" (click)="openProfileContext()" >person</mat-icon>
        </div>
    </div>
</div>

<div *ngIf="selectedFooterItem === 'profile'" class="profile-menu-card" tabindex="1"
#profileCard
(mousedown)="lockProfileCard($event)"
(blur)="blurCard($event)"
  >
  <div id="logout-btn" tabindex="1" (click)="logout($event)" class="prof-btn">
    Logout
  </div>
  <div class="prof-btn" tabindex="1" (click)="logout($event)" class="prof-btn">
    Account
  </div>
  <div class="prof-btn" tabindex="1" (click)="openPreferences($event)" class="prof-btn">
    Preferences
  </div>
  <div style="text-align: right; padding: 0 10px 0 10px;">
    User
  </div>
  <div style="text-align: right; padding: 0 10px 0 10px;">
      <span style="font-family: system-ui !important;" *ngIf="authUser">
        {{authUser.emailAddress}}
      </span>
  </div>
</div>

<div *ngIf="selectedFooterItem === 'notifications' && notificationList && notificationList.length" class="notification-menu" tabindex="1"
#notifications
(mousedown)="lockNotificationCard($event)"
(blur)="blurCard($event)"
  >
  <div class="notif-list-container">
    <ul>
      <li *ngFor="let notification of notificationList | slice:0:(!canSeeAllNotifs ? 3 : notificationList.length);">
        <div [ngClass]="{'is-marked-read':notification.isRead}" 
        style="width: 100%; height: 100%; display: flex; align-items: center; font-size: 1.08rem;
        color: var(--text-color);">
          <div class="notif-img-container">
            <div>
                <mat-icon color="primary" *ngIf="!notification.type"  style="color: forestgreen;"> attach_money</mat-icon>
                <mat-icon color="primary" *ngIf="notification.type === 'added_document'" color="primary">attach_file</mat-icon>
                <mat-icon color="primary" *ngIf="notification.type === 'counter_offer'" >supervisor_account</mat-icon>
                <mat-icon color="primary" *ngIf="notification.type === 'victory'" >star</mat-icon>
                <mat-icon color="primary" *ngIf="notification.type === 'defeat'" >sentiment_very_dissatisfied</mat-icon>
                <mat-icon color="primary" *ngIf="notification.type === 'approved'" >star_half</mat-icon>
            </div>
            <div [ngStyle]="{'visibility': !notification.isRead ? 'visible': 'hidden'}" class="mark-notif-as-read">
              <mat-icon 
              [matTooltip]="'Mark as read'"
              [matTooltipClass]="{ 'notification-trash-tooltip': true }" 
              (click)="markNotificationAsRead(notification)">remove_red_eye</mat-icon>
            </div>
          </div>
          <div class="notif-item-container">
            {{notification.notificationText}}
            <div class="notif-time-container">
              {{notification.recencyString}}
              <div class="notification-dot">.</div>
            </div>
          </div>
          <div class="notification-trash-can">
            <div>
              <mat-icon     
              [matTooltip]="'Delete Notification'"
              [matTooltipClass]="{ 'notification-trash-tooltip': true }" 
              
              (click)="deleteNotification(notification)" style="color: red; ">delete</mat-icon>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div id="notif-collapser" [ngStyle]="{'visibility': notificationList && notificationList.length > 3 ? 'visible' : 'hidden'}" 
    class="view-all-notif" tabindex="1" 
    (mousedown)="toggleCollapse($event)">
    {{canSeeAllNotifs ? 'Collapse' : 'See All'}}
    
  </div>
</div>