<div id="container-background">
    <div id="login-container" [ngStyle]="{'height': selectedTabIndex == 0 ? '460px': '700px'}">
        <div id="sign-in-label" >
            {{(selectedTabIndex == 0 ? 'SIGN IN' : 'SIGN UP')}}
        </div>
        <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="tabChanged($event)">
            <mat-tab label="Sign In">
                <div class="login-fields">
                    <input type="email" (keydown)="keyDown($event)" placeholder="Email" [(ngModel)]="loginTxt" />
                    <input type="password" (keydown)="keyDown($event)" placeholder="Password" [(ngModel)]="passwordTxt" />
                </div>
                <div class="button-container">
                    <button (click)="login()" mat-raised-button color="accent">Sign In</button>
                </div>
            </mat-tab>
            <mat-tab label="Sign Up">
                <div class="login-fields">
                    <div class="signup-field">
                        <input type="email" style="width: 100%" placeholder="Email" [(ngModel)]="loginTxt" />
                    </div>
                    <div class="signup-field">
                        <input type="password" style="width: 100%" placeholder="Password" [(ngModel)]="passwordTxt" />
                    </div>
                    <div class="signup-field">
                        <label>First Name</label>
                        <input matInput size="25" style="white-space: nowrap; width: calc(100% - 156px);" maxlength="25" required placeholder="First Name" 
                        [formControl]="fNameInput" />
                    </div>
                    <div class="signup-field">
                        <label>Last Name</label>
                        <input matInput size="25" style="white-space: nowrap; width: calc(100% - 156px);" maxlength="25" required placeholder="Last Name" 
                        [formControl]="lNameInput" />
                    </div>
                    <div class="signup-field">
                        <label>Address (Line 1)</label>
                        <input matInput size="25" style="white-space: nowrap; width: calc(100% - 156px);" maxlength="25" required placeholder="Address (Line 1)" 
                        [formControl]="addressStreet1Input" />
                    </div>
                    <div class="signup-field">
                        <label>Address (Line 2)</label>
                        <input matInput size="25" style="white-space: nowrap; width: calc(100% - 156px);" maxlength="25" required placeholder="Address (Line 2)" 
                        [formControl]="addressStreet2Input" />
                    </div>
                    
                    <div style="display: flex; gap: 10px;">
                        <div class="signup-field">
                            <label>City</label>
                            <input matInput size="25" style="width: 130px;"maxlength="25" required placeholder="City" 
                            [formControl]="cityInput" />
                        </div>
                        <div class="signup-field state-selector">
                            <!--
                            <input matInput size="25" style="width: 45px;" maxlength="25" required placeholder="State" 
                            [formControl]="stateInput" />
                            -->
                            <mat-form-field style="width: 124px;" appearance="outline">
                                <mat-label>State</mat-label>
                                <mat-select [(value)]="stateSelected">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let option of states" value="AL">{{option}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="signup-field">
                        <label>Zipcode</label><input matInput size="25" style="width: 230px;" maxlength="25" required placeholder="Zipcode" 
                        [formControl]="zipcodeInput" />
                    </div>
                    <div style="display: flex; align-items: center;">
                        <div class="signup-field" style="width: 170px;">
                            <label>Profile Image</label>
                        </div>
                        <div class="button-container" style="height: 100%; align-items: center; display: flex;">
                            <label style="color: white; width: 48px;" 
                                class="custom-file-upload">
                                Upload            
                            <input 
                                type="file"
                                accept=".png, .jpg, .jpeg"
                                class="text-nowrap text-truncate"
                                (change)="selectFile($event)"
                            />
                            </label>
    
                            <span *ngIf="selectedFile" style="color: darkgreen; font-weight: 600; padding-left: 8px;">File Selected: {{selectedFile.name}}</span>
                            <span *ngIf="!selectedFile" style="color: var(--primary-color); font-weight: 600; padding-left: 8px;">No file selected</span>
                        </div>
                    </div>
                </div>
                <div class="button-container">
                    <button
                    [ngClass]="{'disabled-signup-btn': fNameInput.invalid || lNameInput.invalid ||
                    addressStreet1Input.invalid || (addressStreet2Input.invalid && addressStreet2Input && addressStreet2Input.value && addressStreet2Input.value.length) || 
                    cityInput.invalid || stateInput.invalid || zipcodeInput.invalid || !selectedFile}"
                    [disabled]="fNameInput.invalid || lNameInput.invalid || 
                    addressStreet1Input.invalid || (addressStreet2Input.invalid && addressStreet2Input && addressStreet2Input.value && addressStreet2Input.value.length) || 
                    cityInput.invalid || !stateSelected || !stateSelected.length || zipcodeInput.invalid || !selectedFile"
                    (click)="createAcct()" mat-raised-button color="accent">Sign Up</button>
                </div>
            </mat-tab>
        </mat-tab-group>

        <h2 *ngIf="selectedTabIndex == 0" id="or-container">
            Or
        </h2>
        <div *ngIf="selectedTabIndex == 0" class="button-container">
            <button id="sign-in-google" (click)="signInWithGoogle()" style="background-color: #5C91F1; color: white" mat-raised-button>
                <img style="height: 1.5em; width: 1.5em;" src="../../assets/icons/google.svg" />
                Sign in with Google
            </button>
        </div>
        <div *ngIf="credentialsInvalid && selectedTabIndex == 0" id="error-container">
            <mat-icon style="color: red;">error</mat-icon>
            <span style="padding-left: 8px;">
                Error. Invalid username or password
            </span>
        </div>
    </div>    
</div>