<div class="messages" [ngClass]="{'expanded': convoListExpanded}" (click)="expandCollapseConvoList()">
    <div>
        <div id="messaging-icons-left">
            <mat-icon tabindex="1" >person</mat-icon>
            <h3 id="messaging-label">
                Messaging
            </h3>
        </div>
        <div id="messaging-icons-right">
            <div>
                <div class="arrow-editor-container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                        <path d="M15 2.53a1.51 1.51 0 01-.44 1L9.15 9 6 10l1-3.12 5.44-5.44A1.5 1.5 0 0115 2.53zM12 11a1 1 0 01-1 1H5a1 1 0 01-1-1V5a1 1 0 011-1h3V2H5a3 3 0 00-3 3v6a3 3 0 003 3h6a3 3 0 003-3V8h-2z"></path>
                    </svg>
                </div>
                <div class="arrow-editor-container">
                    <mat-icon id="arrow">arrow_back_ios</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div [ngStyle]="{'visibility': (convoListExpanded ? 'visible' : 'hidden')}">
        Other Div
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>
        <div>Other Div</div>

    </div>

</div>