<ul class="my-bid-list">
    <li *ngFor="let bid of searchedBids" class="bid-list-item">
        <div *ngIf="authUser" class="accordion-container" wmAnimate="fadeInRight" speed="normal">
            <app-nested-accordion
            [bid]="bid"
            [user]="authUser"
            [isThemeDark]="isThemeDark"
            (refreshCallback)="accordionCallback()"
            (accordionBaseCallback)="accordionBaseCallback()"
            [cssFilter]="cssFilter"
            >
        </app-nested-accordion>
        </div>
    </li>
</ul>