<ul class="my-bid-list">
    <li *ngFor="let bid of searchedBids" class="bid-list-item" style="width: fit-content;">
        <div *ngIf="authUser" class="accordion-container" wmAnimate="fadeInRight" speed="normal" style="min-width: 106ch;">
            <app-nested-accordion
            [bid]="bid"
            [user]="authUser"
            [isThemeDark]="isThemeDark"
            (refreshCallback)="accordionCallback()"
            (accordionBaseCallback)="accordionBaseCallback()"
            >
        </app-nested-accordion>
        </div>
    </li>
</ul>