input{
    height: 100%;
    background-color: transparent;
    border-color: #42b7ff !important;
    outline-color: #42b7ff;
    padding-top: 10px;
    padding-bottom:10px;
  }

  li{
    div{
        display: inline;
        &:hover{
            background-color: blue;
            cursor: pointer;
        }  
    }
  }