<div style="display: flex; justify-content: center; height: 9.2em; align-items: center; overflow: hidden;">
    <div style="display: flex; height: 3em; width: 70%;" >
        <div class="competitor-shape-parent animation-delayed left-competitor" 
            
            style="width: 39%;">
            <div style="transform: skew(-30deg); font-family: system-ui; ">
                40%
            </div>
            <div class="player-chart-image-container" style="left: -3em;">
                <img _ngcontent-beq-c201="" 
                src="https://firebasestorage.googleapis.com/v0/b/forallmarbles-1ac03.appspot.com/o/profileImages%2FprofImage_738?alt=media&amp;token=20f81af0-c250-44ec-9828-d5ce9d6e1f8a">
            </div>
            <div class="player-name-field">
                Jeremy
            </div>
        </div>
        <div class="competitor-shape-parent right-competitor" style=" width: 59%;">
            <div style="transform: skew(-30deg); font-family: system-ui; ">
                60%
            </div>
            <div class="player-chart-image-container" style="right: -3em;">
                <img _ngcontent-beq-c201=""
                src="https://firebasestorage.googleapis.com/v0/b/forallmarbles-1ac03.appspot.com/o/profileImages%2FprofImage_738?alt=media&amp;token=20f81af0-c250-44ec-9828-d5ce9d6e1f8a">
            </div>
            <div class="player-name-field" style="left: initial; right: -1.4em;">
                Jeremy
            </div>
        </div>
    </div>
</div>