<div 
    *ngFor="let history of histories" style="display: flex; justify-content: center; height: 9.2em; 
        align-items: center; overflow: hidden;">
    <div *ngIf="history.hasOwnProperty('percentWon') && history.hasOwnProperty('displayedPercentWon')" 
        style="display: flex; height: 3em; width: 70%;" >
        <div class="competitor-shape-parent animation-delayed left-competitor" 
            [ngStyle]="{'width': (history.displayedPercentWon ? history.displayedPercentWon : 0) + '%',
            'min-width': '3.2em',
            'justify-content': (history.percentWon ? history.percentWon : 0) < 10 ? 'end': 'center',
            'transform': 'skew(' + 30 * ((history.percentWon ? history.percentWon : 0) < 50 ? 1 : -1)  + 'deg)'}"
            >
            <div style="font-family: system-ui; padding-right: .1em;" [ngStyle]="{'transform': 'skew(' + (-30 * ((history.percentWon ? history.percentWon : 0) < 50 ? 1 : -1))  + 'deg)'}">
                {{history.percentWon}}%
            </div>
            <div class="player-chart-image-container" [ngStyle]="{'transform': 'skew(' + (-30  * ((history.percentWon ? history.percentWon : 0) < 50 ? 1 : -1)) + 'deg)'}" style="left: -3em;">
                <img _ngcontent-beq-c201="" 
                [src]="user?.profilePicSrc">

                <div class="player-name-field" >
                    {{this.user?.firstName}}
                </div>
            </div>

        </div>
        <div  class="competitor-shape-parent right-competitor"
            [ngStyle]="{'width': ((100 - (history.displayedPercentWon ? history.displayedPercentWon : 0)) > 11 ? (100 - (history.displayedPercentWon ? history.displayedPercentWon : 0)) : 11)+'%',
            'min-width': '3.2em',
            'justify-content': (history.percentWon ? history.percentWon : 0) >= 88 ? 'start': 'center',
            'transform': 'skew(' + 30 * ((history.percentWon ? history.percentWon : 0) < 50 ? 1 : -1)  + 'deg)'}"
            style="padding-left: .3em;"
            >
            <div [ngStyle]="{'transform': 'skew(' + (-30  * ((history.percentWon ? history.percentWon : 0) < 50 ? 1 : -1)) + 'deg)'}" style=" font-family: system-ui;">
                {{100 - (history.percentWon ? history.percentWon : 0)}}%
            </div>
            <div class="player-chart-image-container" [ngStyle]="{'transform': 'skew(' + (-30  * ((history.percentWon ? history.percentWon : 0) < 50 ? 1 : -1))  + 'deg)'}" style="right: -3em;">
                <img _ngcontent-beq-c201=""
                [src]="history.competitorImgSrc">
                <div class="player-name-field">
                    {{history.competitorName}}
                </div>
            </div>
        </div>
    </div>
</div>