<div class="msg-preview-main-container">
    <div id="msg-profileimg-container">
        Img
    </div>
    <div id="msg-preview-container" [ngStyle]="{'border-bottom': ( !isLastElm ? '1px lightgray dotted' : 'none')}">
        <div id="message-profile-name">
            <!--Name -->
            <div>Dylan Roberts</div>
            <div style="position: absolute; top: 0; right: 4px;">Dec 8</div>
        </div>
        <div style="padding-top: 10px;">
            <!-- Message Preview Text-->
            Hey John, just reaching out about that bid we talked about yesterday. I was hoping we could increase it a bit.
        </div>
    </div>
</div>