.msg-preview-main-container{
    color: black; 
    display: flex; 
    font-size: 18px;

    &:hover{
        
    }

    #msg-profileimg-container{
        width: 25%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #msg-preview-container{
        width: 75%;
        padding: 10px;
        line-height: 1.3em;
    
        #message-profile-name{
            font-weight: 500;
            opacity: .7;
            position: relative;
        }
    }
}