<div class="bet-title"

>
    <input placeholder="I will place a bet that" 
    [(ngModel)]="betTitle" />
</div>
<div class="bid-text">
    <textarea matInput 
    placeholder="I will place a bet that" 
    [(ngModel)]="betText"
    (focus)="editInstructions()"
    (blur)="saveInstructions()"
    [readonly]="!isEditInstructionsMode"
    [ngClass]="{'edit-text-mode':isEditInstructionsMode}"
    >
    </textarea>
    <input [(ngModel)]="bidAmt" type="number" />
</div>
<div class="btn-container">
    <button (click)="createBid()" mat-raised-button color="accent">Submit</button>
</div>