@import "../../../src/custom-theme.scss";

.modal-title{
    font-size: 25px;
    font-weight: 400;
    background: var(--primary-color);
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid;
    color: white;
    font-family: system-ui;
    position: relative;
}

.bid-title{
    font-size: 20px;
    padding: 10px;
    font-weight: 600 !important;
    color: var(--text-color);
}

#editor-container{
    width: 24px;
    padding-left: 7px;
    padding-right: 7px;

    ::ng-deep{
        mat-icon{
            color: var(--primary-color);
        }
    }

    &:hover{
        border-radius: 38px;
        /*border: 1px solid red;*/
        /*padding: 4px;*/
        /*-webkit-filter: brightness(10%);*/

        transition: all 1s ease;
        background-color: lightgray;
        opacity:0.5;
        cursor: pointer;
    }
}

.modal-close-container{
    position: absolute; 
    top: 0; 
    right: 0; 
    padding: 10px;
    height: 50px;
    box-sizing: border-box;

    .close-icon-background{
        box-sizing: border-box;
        display: flex;
        height: 100%;

        &:hover{
            border-radius: 38px;
    
            transition: all 1s ease;
            background-color: lightgray;
            opacity:0.5;
            cursor: pointer;
        }
    }
}

::ng-deep mat-tab-body .mat-tab-body-content{
    div{
        &:nth-child(1){
            color: var(--text-color) !important;
        }
    }
}

::ng-deep mat-checkbox{
    filter: brightness(2.6) !important;
    .mat-checkbox-label{
        filter: brightness(2.6) !important;
    }
}