
#recent-msg-list{
    list-style: none;
    padding-inline-start: 0;
    
    .message-prev-li{
        &:hover{
            background: lightgray;
            filter: brightness(114%);
        }
    }
}