<div style="color: black;">
    <ul id="recent-msg-list" *ngIf="availUsers && availUsers.length">
        <li *ngFor="let user of availUsers; let i = index;"  class="message-prev-li">
            <app-message-preview
            [user]="user"
            [contents]="user.cityState ? user.cityState : ''"
            [dateStr]="'Dec 12'"
            [isLastElm]="i == (availUsers.length - 1)"
            (onSelected)="userContactSelected($event)"
            >
            </app-message-preview>
        </li>
    </ul>
</div>