<cdk-accordion class="example-accordion">
    <cdk-accordion-item
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      style="overflow-y: hidden;"
      tabindex="0"
      [attr.id]="'accordion-header-' + 0"
      [@detailExpand]="accordionItem.expanded ? 'expanded' : 'collapsed'"
      [attr.aria-controls]="'accordion-body-' + 0">
      <div class="example-accordion-item-header"  (click)="accordionItem.toggle()">
        <div class="bid-item-metric-header" style="display: flex;">
            <div [ngStyle]="{'visibility': !titleEditMode && user && user.key === bid.bidCreatorKey && !bid.hasResult ? 'visible' : 'hidden'}"
            class="cell-data-div-img-edit"  
            style="display: inline-flex; margin-left: 12px;"
            >
                <div tabindex="1" (click)="enableTitleEditMode($event)">
                </div>
            </div>
            <div style="display: inline-block;">
                <input matInput 
                    placeholder="Bid Title" 
                    style="border: none; outline: none; font-family: system-ui !important;"
                    (click)="stopPropagation($event, accordionItem.expanded)"
                    #titleInput
                    [readonly]="!titleEditMode"
                    (keydown)="detailDataChanged(titleEditMode)"
                    [formControl]="titleFormControl"
                />
            </div>
            <div style="display: inline-flex; align-items: center; margin-left: 8px; vertical-align: middle;" [ngStyle]="{'visibility': titleEditMode ? 'visible': 'hidden'}">
                <mat-icon *ngIf="titleFormControl.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="titleFormControl.invalid">{{getInputErrorMessage(titleFormControl)}}</mat-error>
            </div>
        </div>
        <div style="width: 50%; display: flex; justify-content: flex-end; line-height: 20px; align-items: center;
            font-weight: 600 !important;
            font-family: system-ui !important;
            font-size: 18px !important;
            color: #666666 !important;" class="example-accordion-item-description">
            <div style="padding-right:20px; white-space: nowrap;">
                Created by {{creatorName}}
            </div>
            <div *ngIf="bid.resultVerified && user && (bid.verifiedWinner == user.key || bid.verifiedLoser == user.key)" 
            style="font-weight: 700; white-space: nowrap;">
                Status: 
                <span 
                *ngIf="user"
                    style="
                    font-weight: bold;
                    color: rgb(255,74,74);
                    padding-left: 8px;
                    padding-right: 10px;" 
                    [ngStyle]="{'color': user && bid.verifiedWinner == user.key ? 'green' : 'red'}">
                    {{(user && bid.verifiedWinner == user.key ? 'Won' : (bid.verifiedLoser == user.key ? 'Lost' : ''))}}
                </span>
            </div>
            <div>
                <mat-icon style="float:right;" class="expand-icon"  [@openClose]="!accordionItem.expanded ? 'open' : 'closed'">keyboard_arrow_up</mat-icon>
                <mat-icon [ngStyle]="{'transform': (user && user.key === bid.bidCreatorKey ? 'scale(1)' : 'scale(0')}" 
                tabindex="1" (click)="deleteBid(bid)" id="trash-icon" style="float:right; color: red;">delete</mat-icon>
            </div>
        </div>

      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + 0"
        [attr.aria-labelledby]="'accordion-header-' + 0">
        <div class="bid-item-container">
            <div id="bid-item-message">
                <div class="bid-item-metric-header" style="line-height: 20px; display:flex;">
                    {{(user?.key == bid.bidCreatorKey ? 'Your': 'Their')}} Offer
                    <div style="display: inline-block; margin-left: 8px; vertical-align: middle;" [ngStyle]="{'visibility': bidMessageEditMode ? 'visible': 'hidden'}">
                        <mat-icon *ngIf="bidMessageFormControl.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-error *ngIf="bidMessageFormControl.invalid">{{getInputErrorMessage(bidMessageFormControl)}}</mat-error>
                    </div>
                    <div [ngStyle]="{'visibility': !bidMessageEditMode && user && user.key === bid.bidCreatorKey && !bid.hasResult ? 'visible' : 'hidden'}"
                    class="cell-data-div-img-edit" 
                    style="display: inline-block !important; margin-left: 8px;"
                    >
                        <div tabindex="1" (click)="enableBidMessageEditMode($event)" style="margin-top: -5px;">
                        </div>
                    </div>
                </div>
                <div style="display: inline-block;">
                    <textarea matInput 
                        placeholder="Bid Message" 
                        style="border: none; outline: none; color: #666666;"
                        #bidMessageInput
                        [readonly]="!bidMessageEditMode"
                        (keydown)="detailDataChanged(bidMessageEditMode)"
                        [formControl]="bidMessageFormControl"
                        
                    >
                    </textarea>
                </div>
            </div>
            <div id="unconfirmed-winner" *ngIf="bid.hasResult" [ngStyle]="{'visiblity': (bid.hasResult) ? 'visible' : 'hidden'}">
                <div>
                    <div style="height: 100%;
                        float: left;
                        line-height: 20px;
                        font-weight: 600 !important;
                        font-family: system-ui !important;
                        font-size: 18px !important;
                        color: #666666 !important;">
                        {{(bid.verifiedWinner != null ? 'Winner' : 'Unconfirmed Winner')}}
                    </div>
                    <div style="width: 37.9px;
                    height: 100%;
                    float: right;">
                    </div>
                </div>
                <div id="unconfirmed-winner-value">
                    {{unconfirmedWinnerFullName}}
                </div>
            </div>
            <div  id="bid-amt-container">
                <div class="bid-item-metric-header" style="display: flex;">
                    Bid Amount
                    <div [ngStyle]="{'visibility': !bidAmtEditMode && user && user.key === bid.bidCreatorKey && !bid.hasResult ? 'visible' : 'hidden'}"
                    class="cell-data-div-img-edit" 
                    style="display: inline-flex !important; padding-left: 10px;"
                    >
                        <div [ngStyle]="{'visibility':(!bidAmtEditMode && user && user.key === bid.bidCreatorKey ? 'visible' : 'hidden')}" tabindex="1" (click)="enableBidAmtEditMode($event)" style="margin-top: -5px;">
                        </div>
                    </div>
                </div>
                <div id="bid-amt-value">
                    <div>
                        <input  matInput 
                        placeholder="23.55" 
                        style="border: none; outline: none; height: initial; width: initial; text-align: right; padding-right: 13px;
                            color: forestGreen;
                        "
                        #bidAmtInput
                        type="number"
                        [readonly]="!bidAmtEditMode"
                        (click)="detailDataChanged(bidAmtEditMode)"
                        (keydown)="detailDataChanged(bidAmtEditMode)"
                        [formControl]="bidAmtFormControl"
                        />
                    </div>
                    <div [ngStyle]="{'visibility': (bidAmtEditMode ? 'visible' : 'hidden')}" id="amt-up-down">
                        <div>
                            <mat-icon tabindex="1" (click)="incrementAmt()">keyboard_arrow_up</mat-icon>
                        </div>
                        <div>
                            <mat-icon tabindex="1" (click)="decrementAmt()">keyboard_arrow_down</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bid-description">
            </div>
            <div id="bid-lower-left-btns">
                <div>
                    <div id="lower-left-btn-container">
                        <!--<button *ngIf="!bid.isEditing" (click)="modifyBid(bid)" mat-raised-button color="accent">View Counter Offers</button>-->
                        <button style="font-family: system-ui !important;" *ngIf="canDisplayCounterOfferOrApprove(bid)" (click)="createCounterOffer()" mat-raised-button color="accent">Counter Offer</button>
                        <button *ngIf="canDeclareVictory(bid)" style="font-family: system-ui !important;" (click)="declareVictory(bid)" mat-raised-button color="accent">Declare Victory</button>
                        <button *ngIf="canConcedeDefeat(bid)" style="font-family: system-ui !important;" (click)="concedeDefeat(bid)" mat-raised-button color="accent">Concede Defeat</button>
                        <button *ngIf="!bid.resultVerified && bid.hasResult && user && bid.declaredWinner != user.key" style="font-family: system-ui !important;" (click)="challengeResult(bid)" mat-raised-button color="accent">Challenge Result</button>
                        <!--Challenge Result button will also prompt for upload of documentation-->
                        <label *ngIf="!bid.resultVerified && bid.hasResult && user && user.key && user.key == bid.declaredWinner && !hasWinnerDocs" style="color: white; width: 48px;" 
                            class="custom-file-upload mat-raised-button" 
                            style="background-color: #DA3E3E; font-family: system-ui !important; color: white; width: 123px; display: flex; align-items: center;">
                            Prove Victory
                            <input 
                                type="file"
                                accept=".png, .jpg, .jpeg"
                                class="text-nowrap text-truncate"
                                style="visibility: hidden;"
                                (change)="attachmentAdded($event, bid)"
                            />
                        </label>
                        <button *ngIf="hasWinnerDocs" style="font-family: system-ui !important;"  (click)="manageDocumentation()" mat-raised-button color="accent">Manage Documentation</button>
                        <button style="font-family: system-ui !important;" *ngIf="canDisplayCounterOfferOrApprove(bid)" (click)="approveBid(bid)" mat-raised-button color="accent">Approve</button>
                        <button style="font-family: system-ui !important;" *ngIf="bid.isApproved && !bid.resultVerified && bid.hasResult && isAdmin" (click)="adminChooseWinner()" mat-raised-button color="accent">Choose Winner</button>
                    </div>
                </div>            
            </div>
            <div id="bid-lower-right-btns">
                <div>
                    <div id="lower-right-btn-container">
                        <button style="font-family: system-ui !important;" *ngIf="detailChangesPending" (click)="saveUpdate()" class="pending-changes" mat-raised-button color="primary">Save Changes</button>
                        <button style="font-family: system-ui !important;" *ngIf="titleEditMode || bidMessageEditMode || bidAmtEditMode || detailChangesPending" 
                        (click)="cancelDetailChanges()"
                        mat-raised-button color="accent">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="bid.bids && bid.bids.length">
            <div class="bid-item-metric-header" style="text-align: center;         
            padding-bottom: 10px;">
                Counter Offers
            </div>
            <div *ngFor="let childBid of bid.bids">
                <app-nested-accordion 
                [user]="user" 
                (refreshCallback)="refreshBid(bid)"
                (accordionBaseCallback)="refreshBase()"
                [parentBid]="bid"
                [bid]="childBid">
            </app-nested-accordion>
    
            </div>
        </div>

      </div>
    </cdk-accordion-item>
  </cdk-accordion>