.example-accordion {
    display: block;
    /*max-width: 500px;*/
  }
  
  .example-accordion-item {
    display: block;
    border: solid 1px #ccc;
    max-width: 920px;

  }
  
  .example-accordion-item + .example-accordion-item {
    border-top: none;
  }
  
  .example-accordion-item-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
  
  .example-accordion-item-description {
    font-size: 0.85em;
    color: #999;
  }
  
  .example-accordion-item-header,
  .example-accordion-item-body {
    padding: 16px;
    background: white;
  }
  
  .example-accordion-item-header:hover {
    cursor: pointer;
    background-color: #eee;
  }
  
  .example-accordion-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .example-accordion-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .bid-item-container{
    background-color: white;
    height: 250px;
    max-width: 920px;
    border-radius: 10px;
    padding: 20px;
    display: grid;

    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;

    #bid-item-bid-text{
        font-weight: initial;
        padding-left: 15px;
        padding-top: 10px;
    }

    #bid-item-message{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    #bid-amt-container{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;

        display: flex;
        flex-direction: column;
        align-items: end;

        #bid-amt-value{
            padding-left: 15px;
            font-weight: bolder;
            font-size: 20px;
        }
    }

    
    #bid-description{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
    }


    #bid-lower-left-btns{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        
        #lower-left-btn-container{
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }
    }
    #bid-lower-right-btns{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 3;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        #lower-right-btn-container{
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }
    }
}

.bid-item-metric-header{
  line-height: 20px;
  font-weight: 600 !important;
  font-family: system-ui !important;
  font-size: 18px !important;
  color: #666666 !important;
}

.cell-data-div-img-edit{
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding-right:5px;
  div{
    width: 23px;
    height: 23px;
    content: url("../../assets/icons//EditIcon/outline_edit_black_48dp.png");

    /*visibility: hidden;*/
    border-color: #42b7ff;
    border-width: 0px;
    padding:1px;
    border-style: solid;
    border-radius: 5px;

    &:hover{
        cursor: pointer;
    }
  }
}

textarea, input{
  outline: none;
  border: none;
  line-height: 22px;
  font-size: 17px;
  padding-top: 10px;
  padding-left: 18px;
}

textarea{
  width: 500px;
  height: 130px;
}

.pending-changes{
  background: #1D1F20;
  position: relative;
  animation: animategrad 1s ease alternate infinite;
  border-radius: 2px;
  border-width: 1px;
}

@keyframes animategrad {
  0%{
      background-color: rgba(102, 255, 0, 0);
  }

  25%{
      background-color: rgba(102, 255, 0, 0.25);
  }

  50%{
      background-color: rgba(102, 255, 0, 0.5);
  }

  75%{
      background-color: rgba(102, 255, 0, 0.75);
  }

  100%{
      background-color: rgba(102, 255, 0, 1);
  }
}