#message-list{
    list-style: none;
    padding-inline-start: 0;

    #im-item-left{
        height: 100%;
        width:25%;
        float: left;
    }

    #im-item-right{
        height: 100%;
        width: 75%;
        float: right;
        position: relative;

        #full-name{
            font-weight: 500;
            font-size: 18px;
            font-family: system-ui !important;
        }

        #msg-date{
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}