<div style="color: black; min-height: 300px; overflow-y: scroll; max-height: 300px; padding-right: 10px;">
    <ul style="list-style: none; padding-inline-start: 0;">
        <li *ngFor="let messageGroup of imMessagesGrouped" style="position: relative; padding-top: 60px;">
                <h2 id="or-container">
                    {{messageGroup.dateFormatted}}
                </h2>
            <ul id="message-list">
                <li *ngFor="let msg of messageGroup.imList">
                    <div style="width: 100%; min-height: 120px;">
                        <div id="im-item-left">
                            <div>
                                <img [src]="msg.fromUserImgSrc"
                                    style="height: 84px; width: 84px; border-radius: 40px;"
                                />
                            </div>
                        </div>
                        <div id="im-item-right">
                            <div id="full-name">
                                {{msg.fromUserFullName}} 
                                <span style="font-size: 1.5em;  padding: 0 5px 2px 5px">
                                    &middot;
                                </span>
                                {{msg.timeFormatted}}
                            </div>
                            <div style="padding-top: 10px;">
                                {{msg.msgText}}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>