<app-toolbar
    [authUser]="authUser"
></app-toolbar>
<div style="background-color: #F3F2EF; height: 1200px;"
>
    <div *ngIf="authUser">
    </div>
    <div style="width: 50%; height: 100%; float: left;">
        <mat-tab-group (selectedTabChange)="notifyChild($event)"
        >
            <mat-tab label="Feed" #feed><app-feed></app-feed></mat-tab>
            <mat-tab label="Your Bids" #yourBids><app-your-bids></app-your-bids></mat-tab>
            <mat-tab label="Create Bid" #createBid> 
                <div>
                    <app-create-new-bid>
                    </app-create-new-bid>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div style="width: 50%; height: 100%; float: right; overflow-x:hidden;">
        <app-earnings-losses>

        </app-earnings-losses>
    </div>
    <div>
        <app-messaging
        (createNewMsgtCallback)="openCreateNewMsg()"
        (openMsgThreadCallback)="openMessageThread($event)"
        >
        </app-messaging>
        <app-new-message *ngIf="canDispNewMessageScrn" 
        [selectedUser]="selectedUser"
        (closeNewMsgCallback)="closeNewMessage()"
        ></app-new-message>
    </div>

</div>