<div style="background-color: #F3F8FF; height: 1200px;">
    <div *ngIf="authUser">
        Account: {{authUser.emailAddress}}
    </div>
    
    <button (click)="logout()" mat-raised-button color="accent">Logout</button>
    
    <mat-tab-group>
        <mat-tab label="Feed"><app-feed></app-feed></mat-tab>
        <mat-tab label="Your Bids"><app-your-bids></app-your-bids></mat-tab>
        <mat-tab label="Create Bid"> <app-create-new-bid>
            
        </app-create-new-bid></mat-tab>
    </mat-tab-group>
</div>